body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #7147e3;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 10px;
    margin: 0 15px;
}

nav ul li a {
    color: #fcf560;
    text-decoration: double;
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bold;
}

nav ul li a:hover {
    color: #d2621d;
}

footer {
    display: none;
}

nav ul li a {
    background-color: #69ced6;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1000px;
}