body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d0f0ff;
    font-size: 16px;
    line-height: 1.6;
}

.homeInfo {
    background-color: #88848b;
    border: 2px solid #e014a6;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    color: rgb(63, 31, 192);
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
    margin: 15px auto 25px auto;
    max-width: 600px;
    width: fit-content;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

header {
    background-color: #7147e3;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-family: sans-serif;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #5769cb;
    font-size: 24px;
    font-weight: bold;
    background-color: #69ced6;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #cbbeb6;
}

/* Login/signup button styling */
#ghusaun a {
    margin-left: 10px;
    margin-right: 20px;
    display: inline-block;
}

#ghusaun a {
    color: #5769cb;
    width: 200px;
    font-size: 16px;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 3px 5px rgb(13, 219, 147);
    border: 2px pink;
    background-color: azure;
}

#ghusaun a:hover {
    background-color: aquamarine;
    text-decoration: underline;
}

main section {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
}

main section h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

main section p {
    line-height: 1.6;
    font-size: 16px;
}

footer {
    text-align: center;
    color: #333;
    padding: 20px;
    background-color: #15b1c3;
    margin-top: 20px;
    border-top: 1px solid #e92c2c;
}

.message {
    background-color: #98cf67;
    border: 2px solid #e014a6;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    color: rgb(11, 93, 200);
    font-style: italic;
    font-size: 24px;
    font-weight: 700;
}